0ad
3T
akonadi
akonadi_akonotes_resource_0rc
akonadiconsolerc
akonadi_contactrc
akonadi-firstrunrc
akonadi_indexing_agentrc
akonadi_kalarm_resource_1rc
akonadi_kalarm_resource_2rc
akonadi_kalarm_resource_3rc
akonadikderc
akonadi_maildir_resource_0rc
akonadi-migrationrc
akonadi_newmailnotifier_agent.notifyrc
akonadi_newmailnotifier_agentrc
akregatorrc
amarokrc
Ankama
ardour5
arkrc
artikulaterc
Atom
aurman
autostart
autostart-scripts
Babe
Babe.notifyrc
baloofileinformationrc
baloofilerc
bin
blogilorc
bluedevilglobalrc
bluedevilreceiverrc
bomberrc
Brackets
breezerc
caja
calibre
calligrageminirc
calligrageminithumbnailerrc
calligraplanrc
calligrarc
calligrasheetsrc
calligrastagerc
calligrawordsrc
cantata
cantorrc
cef_user_data
cervisiarc
choqokrc
chromium
cinnamon-session
Clementine
cmst
Code - Insiders
codeblocks
configstore
conky-manager.json
corebird
Cutegram
darktable
davmail
dconf
deepin
Deepin
deepin-movie
deepin-wm-switcher
Designerrc
device_automounter_kcmrc
digikamrc
discoverrc
dleyna-renderer-service.conf
dleyna-server-service.conf
dock
dolphinrc
drkonqirc
DUI
Electron
elisarc
emaildefaults
emailidentities
emoj-nodejs
Empathy
enchant
epiphany
eventviewsrc
evolution
falkon
falkonrc
filelightrc
filetypesrc
filezilla
fish
flaska.net
Flavio Tordini
foldermailarchiverc
fontconfig
freecol
freerdp
gambas3
gconf
geary
gedit
GIMP
GitKraken
glogg
gloggrc
gnome-builder
gnome-control-center
gnome-session
goa-1.0
Google Play Music Desktop Player
google-chrome
granatierrc
gtk-2.0
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
gwenviewrc
Harmony
Haroopad
htop
i3wm
ibus
importwizardrc
incidenceeditorrc
inkscape
Insync
jukrc
k3brc
kabldaprc
kaccessrc
kaccountsrc
kactivitymanagerdrc
kactivitymanagerd-statsrc
kactivitymanagerd-switcher
kaddressbookrc
kajonggrc
kalarmrc
kalziumrc
kamosoDevices
kamosorc
karbonrc
katemetainfos
katemoderc
katepartrc
katerc
kateschemarc
katesyntaxhighlightingrc
katevirc
katomicrc
kblackboxrc
kbouncerc
kcalcrc
kcharselectrc
kcminputrc
kcmsambarc
kcmshell5rc
kconf_updaterc
KDE
kdebugrc
kdeconnect
kded5rc
kded_device_automounterrc
kde-env-master.sh
kdeglobals
kdenliverc
kde.org
kdeveloprc
kdfrc
kdialogrc
keepassxc
keepassxcrc
kfloppyrc
kgammarc
kglobalshortcutsrc
kglobalshortcutsrc~
kgpgrc
khelpcenterrc
khotkeysrc
kinfocenterrc
kio_fishrc
kio_ftprc
kiorc
kitenrc
kitty
klipperrc
kmail2rc
kmailsearchindexingrc
kmenueditrc
kmetainformationrc
kmixrc
kmozillahelperrc
knetwalkrc
knfsshare
knotesrc
knotifyrc
kollisionrc
kolourpaintrc
komparerc
konq_history
konquerorrc
konsolerc
kontactrc
kontact_summaryrc
konversationrc
korgacrc
korganizerrc
kpatrc
krdcrc
krecentconnections
krfbrc
kritadisplayrc
kritarc
krunnerrc
kscreenlockerrc
kscreenlockerrc.prewpblur
kservicemenurc
ksmserverrc
ksnakeduelrc
kspaceduelrc
ksplashrc
ksslcertificatemanager
kstarsrc
ksysguardrc
ktelepathy-avatarsrc
ktelepathy.notifyrc
ktelepathyrc
ktimerrc
ktimezonedrc
ktpcontactlistrc
ktp-proxy-config
ktp-text-uirc
ktrashrc
kwalletmanager5rc
kwalletrc
kwinrc
kwinrulesrc
kwriterc
latte
lattedock-appletsrc
lattedockrc
libaccounts-glib
libreoffice
liri-browser
lokalizerc
lo_kde5filepickerrc.lock
lthemeengine
lumina-desktop
lumina-mimeapps.list
lutris
lxqt
LyX
lyxrc
Mailspring
mailtransports
manjaro
manjaro-hello.json
marblerc
marlin
mate-menu
menus
mimeapps.list
Mongoclient
Mongotron
monitors-v1-backup.xml
monitors-v1-backup.xml~
monitors.xml
monitors.xml~
mps-youtube
mpv
nautilus
nemo
nheko
nitrogen
Nocturn
Notepadqq
Nylas Mail
octopi
okularpartrc
okularrc
openbox
openmw
openmw-wizardrc
OpenRCT2
openshotrc
opera
otter
Otterrc
palapelirc
partitionmanagerrc
pcmanfm-qt
phishingurlrc
pimpluginsrc
pimsettingexporterrc
plank
plasma_calendar_holiday_regions
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
plasmashellrc
plasma-workspace
pmbootstrap.cfg
Popcorn-Time-CE
powerdevilrc
powermanagementprofilesrc
print-manager
procps
psi
psi+
pulse
PulseEffects
q4wine
qBittorrent
QMatrixClient
qt5ct
qterminal.org
QtProject
QtProject.conf
qucs
qupzilla
QXmlEdit
QXmlEditrc
ranger
remmina
ring
ring-kderc
Riot
rncbc.org
robo3trc
rocsrc
session
signond
sink
skanliterc
skypeforlinux
Slack
smplayer
smtube
specialmailcollectionsrc
spectaclerc
spotify
startupconfig
startupconfigfiles
startupconfigkeys
steprc
sublime-text-3
superProductivity
sway
syncthing
systemd
systemmonitorrc
systemsettingsrc
teams-for-linux
tempfile-x11sessioncache
tempfile-x11sessionconf
tempfile-x11sessionid
templatesconfigurationrc
terminology
texstudio
TeXstudiorc
theSuite
thumbnail.sorc
tilda
totem
trashrc
trizen
Trolltech.conf
Typora
umbrellorc
unity3d
Unknown Organization
user-dirs.dirs
user-dirs.locale
vcr
VirtualBox
VirtualBoxrc
vision-client
vivaldi
vlc
vlcrc
Webcamoid
Webcamoidrc
webengineurlinterceptoradblockrc
wesnoth
Wire
wireshark
Wiresharkrc
xmms2
yaics
yakuakerc
yay
yelp
Franz
Mattermost
MongoDB Compass
NoSQLBooster for MongoDB
Rambox
Station
jami
kaccess.notifyrc
kleopatrarc
openvr
calibrerc
